/* NAVBAR */

#navContainer {
    margin-top: -2%;
}

#nav-position-color {
    background-color :deepSkyBlue !important;
    box-shadow: 2px 1px #888888; 
}

.navLink {
    font-family: 'Varela Round', sans-serif;
}


/* LANDING PAGE */

#hero-landing-page {
    background-image: url("https://dfi.wa.gov/sites/default/files/budget-16x9.jpg");
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
    margin-top: -1.9%;
    position: relative;
}

.hero-landing-page-welcome-to {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-family: 'Varela Round', sans-serif;
}

.hero-landing-page-budget-city {
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 49%;
    color: deepSkyBlue;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 8em;
    transform: translate(-50%, -50%);
}

.hero-landing-page-slogan {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem;
    position: absolute;
    z-index: 3;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-landing-page-question-login{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.8rem;
    position: absolute;
    z-index: 3;
    top: 84%;
    left: 36%;
    transform: translate(-50%, -50%);
}

.hero-landing-page-button-login{
    position: absolute;
    top: 92%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: 'Varela Round', sans-serif;
    background-color: deepSkyBlue !important;
    color: black !important;
    box-shadow: 2px 2px #888888;
    width: 6.5rem;
    height: 2.8rem;
}

.hero-landing-page-login-anchor{
    text-decoration: none !important;
    color: black !important;
}

.hero-landing-page-button{
    position: absolute;
    top: 73%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-family: 'Varela Round', sans-serif;
    background-color: deepSkyBlue !important;
    color: black !important;
    box-shadow: 2px 2px #888888;
    width: 15rem;
    height: 3rem;
}

.hero-landing-page-button-anchor {
    text-decoration: none !important;
    color: black !important;
}

.hero-landing-page-question-register{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.8rem;
    position: absolute;
    z-index: 3;
    top: 84%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.hero-landing-page-button-register{
    position: absolute;
    top: 92%;
    left: 63%;
    transform: translate(-50%, -50%);
    font-family: 'Varela Round', sans-serif;
    background-color: deepSkyBlue !important;
    color: black !important;
    box-shadow: 2px 2px #888888;
    height: 2.8rem;
}

.hero-landing-page-register-anchor{
    text-decoration: none !important;
    color: black !important;
}


.three-reasons-landing-page{
    background-color: #F0FFFF;
}

.three-reasons-header-purpose{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 7rem;
    color: deepSkyBlue;
}

.three-reasons-header{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 2rem;
    color: deepSkyBlue;
}

.three-reasons-paragraph-container{
    max-width: 50%;
    margin: auto;
}

.three-reasons-paragraph-text{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.three-reasons-arrow-container{
    color: deepSkyBlue;
    text-align: center;
    font-size: 3rem;
}


/* LOGIN & REGISTER PAGE */
#register{
    background-image: url("https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/money/work/work-hero-1260x600.jpg");
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
}

#login{
    background-image: url("https://reviewed-com-res.cloudinary.com/image/fetch/s--ZRJCGONq--/b_white,c_fill,cs_srgb,f_auto,fl_progressive.strip_profile,g_center,q_auto,w_1200/https://reviewed-production.s3.amazonaws.com/1490710012000/laptop.jpg");
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
}
.login-register-expenses-form-header{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Varela Round', sans-serif;
    color: deepSkyBlue;
    text-align: center;
    font-size: 4rem;
}


.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 20rem;
}

.form-container-register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 20rem;
}

.form-container-expenses-form{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 20rem;
}

.input-name{
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
    color: deepSkyBlue;
    margin-top: 0.5rem;
}

.input-name-login-expenses-form{
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
    color: deepSkyBlue;
    margin-top: -50%;
}

.input-email-name-login-expenses-form{
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
    color: deepSkyBlue;
    margin-top: -90%;
}

.input-name-password-login-expenses-form{
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
    color: deepSkyBlue;
}


.submit{
    background-color: deepSkyBlue !important;
    font-family: 'Varela Round', sans-serif;
    box-shadow: 2px 2px #888888;
    margin-top: 1rem;
    margin-bottom: 25%;
    position: absolute;
    top: 102%;
    left: 44%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.submit-login-register-anchor{
    color: black;
    text-decoration: none;
}

/* EXPENSES FORM */

#expenses-form{
    height: 100vh;
    width: 100vw;
    background-color: whiteSmoke;
}

.credentials-line{
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black !important;
}

.add-expense{
    background-color: deepSkyBlue !important;
    color: black !important;
    box-shadow: 2px 2px #888888;
}




/* FOOTER */

.footer {
    background-color: deepSkyBlue;
    bottom: 0;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
}


